html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
}
#background {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    -webkit-filter: brightness(90%) saturate(140%) contrast(105%);
    opacity: 0;
    transition: opacity .2s ease-in;
    background-clip: content-box;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
#background.hidden {
    opacity: 0;
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 50px;
    width: 50px;
    background-image: url('../img/mapillary-logo.svg');
    background-size: 100%;
    z-index: 2;
    transition: opacity .2s ease-in-out;    
}

.button-container {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    height: 24px;
}

#explore {
    font-size: 14px;
    z-index: 2;
    background-color: rgba(36, 37, 40, 0.6);   
    border-radius: 50px;
    padding: 10px 30px;
    color: #fff;
    transition: opacity .2s ease-in-out;
    opacity: 0.8;
    text-decoration: none;
    cursor: pointer;
    font-weight: 100;
}
#explore:active,
#explore:hover {
    opacity: 1;
}

#map {
    position: absolute;
    bottom: 30px;
    right: 30px;
    height: 180px;
    width: 180px;
    border-radius: 6px;
    z-index: 2;
    transition: opacity .2s ease-in-out;
    opacity: 0;
}

.share-menu {
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    border-radius: 50px;
    width: 72px;
    transition: background-color .2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.share-menu.open {
    background-color: rgba(36, 37, 40, 0.8);
}

.share-button {
    display: block;
    text-align: center;
    width: 100%;
    height: 70px;
    cursor: pointer;
    margin-bottom: 30px;
    transition: opacity .2s ease-in-out, transform .15s ease-in-out;
}
.close-icon,
.share-icon {
    position: absolute;
    top: 30px;
    left: 32%;
    transition: opacity .2s ease-in-out, transform .15s ease-in-out;
    background-size: 100%;
    background-repeat: no-repeat;
}
.close-icon {
    background-image: url('../img/close.svg');
    width: 24px;
    height: 24px;
    opacity: 0;
    transform: rotate(90deg);
}
.share-icon {
    background-image: url('../img/share.svg');
    width: 24px;
    height: 32px;
}

.share-menu.open .share-icon {
    transform: rotate(-90deg);
    opacity: 0;
}
.share-menu.open .close-icon {
    transform: rotate(0);
    opacity: 1;
}
.share-menu.open .share-option {
    opacity: 1;
    pointer-events: initial;
    cursor: pointer;
}
.share-menu.open .share-option.facebook {
    animation: fadeIn1 .2s ease-in-out;   
}
.share-menu.open .share-option.twitter {
    animation: fadeIn2 .25s ease-in-out;   
}
.share-menu.open .share-option.googleplus {
    animation: fadeIn3 .3s ease-in-out;   
}
.share-menu.open .share-option.tumblr {
    animation: fadeIn4 .35s ease-in-out;   
}
.share-menu.open .share-option.email {
    animation: fadeIn5 .4s ease-in-out;
}

.share-option {
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 50px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-in-out, transform .15s ease-in-out, color .2s ease-in-out;
}
.share-option.facebook {
    background-image: url('../img/facebook.svg');
    width: 15px;
    height: 32px;
}
.share-option.twitter {
    background-image: url('../img/twitter.svg');
    width: 30px;
    height: 26px;
}
.share-option.googleplus {
    background-image: url('../img/gplus.svg');
    width: 33px;
    height: 21px;
}
.share-option.tumblr {
    background-image: url('../img/tumblr.svg');
    width: 17px;
    height: 32px;
}
.share-option.email {
    background-image: url('../img/email.svg');
    width: 26px;
    height: 18px;
}
.share-option:hover {
    opacity: 0.7 !important;
}

@keyframes fadeIn1{
    0% {
        transform: translateY(-80px) scale(0.6);
        opacity: 0;
    }
    100%{
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}
@keyframes fadeIn2{
    0% {
        transform: translateY(-80px) scale(0.6);
        opacity: 0;
    }
    50% {
        transform: translateY(-80px) scale(0.6);
        opacity: 0;
    }
    100%{
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}
@keyframes fadeIn3{
    0% {
        transform: translateY(-80px) scale(0.6);
        opacity: 0;
    }
    50% {
        transform: translateY(-80px) scale(0.6);
        opacity: 0;
    }
    100%{
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}
@keyframes fadeIn4{
    0% {
        transform: translateY(-80px) scale(0.6);
        opacity: 0;
    }
    50% {
        transform: translateY(-80px) scale(0.6);
        opacity: 0;
    }
    100%{
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}
@keyframes fadeIn5{
    0% {
        transform: translateY(-80px) scale(0.6);
        opacity: 0;
    }
    50% {
        transform: translateY(-80px) scale(0.6);
        opacity: 0;
    }
    100%{
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.osm-link {
    bottom: 32px;
    color: white;
    font-size: 12px;  
    opacity: 0;
    padding: 0 6px 4px 0px;
    position: absolute;
    right: 34px;
    text-decoration: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    transition: opacity .2s ease-in-out;
    z-index: 3;
}
